body{
    background:lavender
}
div.main{
    text-align: justify;
    padding-top:20%;
    width: 30em;
    text-align-last: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
div.innerbox{
    padding-top:5%;
    background-color: rgba(0, 0, 0, 0.4);
    border:1px solid white;
}
