body{
    background:lavender;
    text-align: justify;
    padding-top:50px;
    width: 30em;
    text-align-last: center;
    /* border:1px solid red; */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
